breadability==0.1.20
certifi==2021.5.30
chardet==4.0.0    
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
DateTime==4.3
docopt==0.6.2
filelock==3.0.12
Flask==2.0.1
Flask-Cors==3.0.10
huggingface-hub==0.0.17
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
lxml==4.6.3
MarkupSafe==2.0.1
nltk==3.6.3
numpy==1.21.2
packaging==21.0
pycountry==20.7.3
pyparsing==2.4.7
pytz==2021.1
PyYAML==5.4.1
regex==2021.8.28
requests==2.26.0
sacremoses==0.0.45
sentencepiece==0.1.96
six==1.16.0
sumy==0.8.1
tokenizers==0.10.3
torch==1.9.0
tqdm==4.62.2
transformers==4.10.2
typing-extensions==3.10.0.2
urllib3==1.26.6
Werkzeug==2.0.1
youtube-transcript-api==0.4.1
zope.interface==5.4.0